@use '/src/assets/styles/colors' as colors;
@use '/src/App.scss' as App;

.timer__heading {
    font-size: 28px;
    font-family: App.$font-family-Poppins;
    color: colors.$nav-homepage-color;
    margin-bottom: 15px;
}

.timer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px 30px;
    color: colors.$nav-homepage-color;

    .timer-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 76px;
        height: 76px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 2px 2px 15px colors.$nav-homepage-color;
        font-family: 'Digital Numbers';
        font-size: 32px;
        color: inherit;
    }

    .timer-label {
        line-height: 120%;
        font-weight: 400;
        color: inherit;
        font-size: 24px;
    }
}
