@use '/src/assets/styles/colors' as colors;
@use '/src/App.scss' as App;

.slide-show {
    position: absolute;
    right: -190px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    .slide {
        .slide-img {
            // height: 50px;
            height: 380px;

            &.active {
                height: 480px;
            }
        }
    }

    .slide-show__controllers {
        align-self: flex-end;
        display: flex;
        gap: 16px;

        .controller {
            background-color: #ffffff;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            color: #000000;
            text-align: center;
            font-weight: bold;
            box-shadow: 2px 2px 15px colors.$nav-homepage-color;
        }
    }

    .slide-show__pages {
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        left: 55%;
        .slide-show__current-item {
            height: 11px;
            width: 11px;
            background-color: #b6b6b6;
            border-radius: 50%;
            &.active {
                width: 27px;
                height: 27px;
                border: 1px solid #000000;
                background-color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                    height: 11px;
                    width: 11px;
                    border-radius: 50%;
                    background-color: #000000;
                }
            }
        }
    }
}
